{% extends 'base/base.html' %}
{% load static %}


<!-- Page info -->
{% block description %}{% endblock description %}
{% block author %}{% endblock author %}
{% block title %}Dashboard{% endblock title %}

<!-- Custom CSS -->
{% block base_style %}{% static 'base/css/base.css' %}{% endblock base_style %}
{% block page_style %}{% endblock page_style %}

<!-- Custom classes -->
{% block html_class %}{% endblock html_class %}
{% block body_class %}{% endblock body_class %}

<!-- Content -->
{% block content %}
<br>
<br>
<div class="container-fluid">
<div class="row">
<div class="col-md-4 offset-md-4">
<h1 class="lobster-title text-center"> Dashboard </h1>
<br>
<div class="text-center">
<img src="{% static 'dashboard/img/dice.png' %}" class="img-fluid" alt="Dice">
</div>
<br>
<p class="menu-font text-center"> <a href="{% url 'dashboard:pc_list' %}">Lista de personajes</a></p>
<p class="menu-font text-center"> <a href="{% url 'dashboard:playable_characters' %}">Añadir personaje</a></p>
<p class="menu-font text-center"> <a href="{% url 'logout' %}">Logout</a></p>
<br>
</div>
</div>
</div>
{% endblock content %}

<!-- Custom script -->
{% block script %}
{% endblock script %}
