{% extends 'base/base.html' %}
{% load static %}


<!-- Page info -->
{% block description %}{% endblock description %}
{% block author %}{% endblock author %}
{% block title %}Lista de personajes{% endblock title %}

<!-- Custom CSS -->
{% block base_style %}{% endblock base_style %}
{% block page_style %}{% endblock page_style %}

<!-- Custom classes -->
{% block html_class %}{% endblock html_class %}
{% block body_class %}{% endblock body_class %}

<!-- Navbar -->
{% block nav-logo %}{% endblock nav-logo %}
{% block nav-items %}
{% endblock nav-items %}

<!-- Content -->
{% block content %}
<table>
    <tr>
        <th> ID </th>
        <th> Name </th>
        <th> Age </th>
        <th> Description </th>
    </tr>
    {% for pc in pc_list %}
        <tr>
        <td>{{ pc.pk }}</td>
        <td>{{ pc.name }}</td>
        <td>{{ pc.age }}</td>
        <td>{{ pc.description }}</td>
        <td><a href="{% url 'dashboard:pc_delete' pc.pk %}" class="btn btn-primary mx-auto" role="button">Eliminar</a></td>
        <td><a href="{% url 'dashboard:pc_inventory' pc.pk %}" class="btn btn-primary mx-auto" role="button">Inventario</a><td>
        </tr>
    {% endfor %}
<table>
<br>
<a href="{% url 'dashboard:dashboard' %}" class="btn btn-primary mx-auto" role="button">Volver</a>
{% endblock content %}

<!-- Custom script -->
{% block script %}
{% endblock script %}