{% extends 'base/base.html' %}
{% load static %}


<!-- Page info -->
{% block description %}{% endblock description %}
{% block author %}{% endblock author %}
{% block title %}Lista de personajes{% endblock title %}

<!-- Custom CSS -->
{% block base_style %}{% static 'base/css/base.css' %}{% endblock base_style %}
{% block page_style %}{% endblock page_style %}

<!-- Custom classes -->
{% block html_class %}{% endblock html_class %}
{% block body_class %}{% endblock body_class %}

<!-- Content -->
{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-auto bordered-box">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th scope="row"> ID </th>
                    <th scope="row"> Name </th>
                    <th scope="row"> Age </th>
                    <th scope="row"> Description </th>
                    <th scope="row">&nbsp</th>
                    <th scope="row">&nbsp</th>
                </tr>
            </thead>
            <tbody>
            {% for pc in pc_list %}
                <tr>
                    <td>{{ pc.pk }}</td>
                    <td>{{ pc.name }}</td>
                    <td>{{ pc.age }}</td>
                    <td>{{ pc.description }}</td>
                    <td><a href="{% url 'dashboard:pc_delete' pc.pk %}" class="btn btn-flat flat-purple mx-auto" role="button">Eliminar</a></td>
                    <td><a href="{% url 'dashboard:pc_inventory' pc.pk %}" class="btn btn-flat flat-purple mx-auto" role="button">Inventario</a><td>
                </tr>
            {% endfor %}
            </tbody>
        <table>
        <br>
        <div class="text-center">
        <a href="{% url 'dashboard:dashboard' %}" class="btn btn-flat flat-purple mx-auto" role="button">Volver</a>
        </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Custom script -->
{% block script %}
{% endblock script %}