{% extends 'base/base.html' %}
{% load static %}


<!-- Page info -->
{% block description %}{% endblock description %}
{% block author %}{% endblock author %}
{% block title %}Personaje{% endblock title %}

<!-- Custom CSS -->
{% block base_style %}{% static 'base/css/base.css' %}{% endblock base_style %}
{% block page_style %}{% endblock page_style %}

<!-- Custom classes -->
{% block html_class %}{% endblock html_class %}
{% block body_class %}{% endblock body_class %}

<!-- Content -->
{% block content %}
<div class="container">
<div class="row justify-content-center">
<div class="col-md-4">

<h1>Hoja de personaje</h1>

<p>Atributos</p>

<form method="POST">
    {% csrf_token %}
    {% include 'base/includes/form.html' with form=form %}
    <br>
    <input type="submit" class="btn btn-flat flat-purple mx-auto w-100" value="Submit">
</form>
<br>
<a href="{% url 'dashboard:dashboard' %}" class="btn btn-flat flat-purple mx-auto w-100" role="button">Volver</a>
</div>
</div>
</div>
{% endblock content %}

<!-- Custom script -->
{% block script %}
{% endblock script %}
